<div class="container_footer-card w-full flex justify-center mb-[3%] mt-[10%]">
  <div class="rounded-md flex flex-col justify-center items-center card w-full max-w-[380px] bg-[#171717]">
    <div class="medias__footer-card flex flex-row my-[3%]">
      <a href="https://github.com/LuisFsJr" target="_blank" class="w-full max-w-[30px]">
        <img src="https://cdn3.iconfinder.com/data/icons/social-rounded-2/72/GitHub-512.png">
      </a>
      <a href="https://www.linkedin.com/in/luisfsantosjr/" target="_blank" class="w-full max-w-[30px] ml-[20px]">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/72px-LinkedIn_icon.svg.png?20210220164014">
      </a>
    </div>
    <div class="info__footer-card rounded-t-lg bg-[#111111] py-[1%] px-[4%]">
      <p class="text-[#C1C1C1]">Development and Design by Luis Santos</p>
    </div>
  </div>
</div>
