<a [routerLink]="['content', ID]" class="flex align-middle justify-center">
  <div class="container__big-card max-w-3xl my-[2%]">
    <div
    [style.backgroundImage]="'url(' + photoCover + ')'"
    class="
        info__big-card bg-cover bg-center relative inset-0 m-0 w-full  bg-transparent h-[380px] flex flex-col justify-end p-[4%] rounded-[15px] max-sm:h-[280px]">
        <span class="absolute top-[-12.5px] bg-white px-[20px] py-[5px] text-xs font-semibold rounded-[40px] h-[25px] w-[80px] flex justify-center align-middle"
        >
          NEWS!
        </span>

        <span class="text-[#898B8F] text-[12px] max-sm:text-[8px]"
        >
          {{cardDate}}
        </span>

        <h1 class="text-white font-semibold	text-2xl max-sm:text-[18px] max-sm:leading-6 max-w-[90%] max-sm:max-w-[100%]"
        >
          {{cardTitle}}
        </h1>

        <p class="text-[#898B8F] text-[14px] max-sm:text-[12px] max-w-[90%] max-sm:max-w-[100%]"

        >
          {{cardDescription}}
        </p>
      </div>
  </div>
</a>
