<a href="#">
  <div class="container__big-card max-w-3xl my-[2%]">
    <div class="
        info__big-card bg-cover bg-center bg-[url(https://cdn.discordapp.com/attachments/433291868579561474/1194097904621723739/Angular-Development-Services_2.png?ex=65af1d55&is=659ca855&hm=7f35e8975ba6bfb6c825ab49163ee295cea5dba8b1b14917327190fd7b6b34b0&)] relative inset-0 m-0 w-full  bg-transparent h-[380px] flex flex-col justify-end p-[4%] rounded-[15px]
        max-sm:h-[280px]

        ">
        <span class="absolute top-[-12.5px] bg-white px-[20px] py-[5px] text-xs font-semibold rounded-[40px] h-[25px] w-[80px] flex justify-center align-middle">
          NEWS!
        </span>

        <span class="text-[#898B8F] text-[12px] max-sm:text-[8px]">
          Jan 8, 2024
        </span>

        <h1 class="text-white font-semibold	text-2xl max-sm:text-[18px] max-sm:leading-6 max-w-[90%] max-sm:max-w-[100%]">
          Empresas Líderes Adotam Angular: O Impacto Crescente do Framework no Desenvolvimento de Aplicações
        </h1>

        <p class="text-[#898B8F] text-[14px] max-sm:text-[12px] max-w-[90%] max-sm:max-w-[100%]">
          Explore o crescente impacto do Angular no desenvolvimento de aplicações, sendo adotado por empresas líderes para impulsionar a eficiência e a inovação.
        </p>
      </div>
  </div>
</a>
