<a href="#" class="mx-[5%]">
  <div class="md:flex">
    <img class="object-cover w-full h-56 rounded-lg md:w-64" src="{{cardPhoto}}" alt="">

    <div class="flex flex-col justify-center  md:mx-6">
        <span class="text-sm text-[#c1c1c1] dark:text-gray-300">{{cardDate}}</span>

        <span href="#" class="text-xl font-semibold text-gray-800 hover:underline dark:text-white ">
          {{cardTitle}}
        </span>

        <span class="mt-[10%] md:hidden h-[1px] w-full bg-[#171717]"></span>

    </div>

  </div>

</a>
