<div class="container__menu-bar flex justify-center w-full py-[5%] mb-[5%]">
  <div class="relative menu__menu-bar w-full max-w-[275px] flex justify-center bg-[#3A3A3A26] rounded-md py-[20px]">
    <div class="absolute flex justify-center items-center rounded-[50%] bg-gradient-to-r from-[#DF3D71] to-[#E75F57] top-[50%] translate-y-[-50%] left-[-20px] profile__menu-bar w-full h-full max-w-[40px] max-h-[40px] text-white">
      <span>LF</span>
    </div>
    <ul class="flex justify-center flex-row w-full max-w-[3000px] text-white">
      <li class="text-[#ADADAD] transition ease-in-out delay-50 hover:text-[#fff]"><a href="#">LEARN</a></li>
      <li class="text-[#fff] transition ease-in-out delay-50 ml-[6%] font-[bold] hover:text-[#fff]"><a href="#">BLOG</a></li>
      <li class="text-[#ADADAD] transition ease-in-out delay-50 ml-[6%] hover:text-[#fff]"><a href="#">UI KIT</a></li>
      <li class="text-[#ADADAD] transition ease-in-out delay-50 ml-[6%] hover:text-[#fff]"><a href="#">FAQ</a></li>
    </ul>
  </div>
</div>
